{% extends 'techfinder_website_v2/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">
    {% include 'techfinder_website_v2/main/sidebar.html' %}

    {# Aquí incluimos el componente de la grid #}
    {% include 'techfinder_website_v2/components/products_grid.html' %}

    {% include 'techfinder_website_v2/main/carrito_lateral.html' %}
    <script src="{% static 'js/carrito.js' %}"></script>
    <script src="{% static 'js/filters.js' %}"></script>
</div>
{% endblock %}